/*    Style    */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F4EFE5;
  color: rgb(40, 40, 40);
  letter-spacing: 1px;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  color: #653239;
}

/*.text-center {
  width: 600px auto;
  padding:  auto 200px;
  margin: auto;
  background-color: white;
}
*/


.container {
  width: 800px auto;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
  display: center;
}

.text-center {
  text-align: center;
}

#profile-pic {
  border-radius: 50%;
  width: 200px;
  padding: 20px 20px;
}

.profile-card{
  width: 800px;
  padding: auto 100px;
  margin: auto;
  background-color: white;
  text-align: center;
}

.container-profile {
  padding: 20px;
}

.line {
  height: 1px;
  background-color: #AF7A6D;
  width: 78%;
  margin: 20px auto;
}

.click-me{
  color-background : #AF7A6D;
  border-radius: 2px;
  height: 30px;
}

.card {
  width: 800px;
  height: auto;
  margin: 20px auto;
  background-color: white;
}

.card h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  margin-top: 15px;
}

.card p {

}
.card ul li {
 display: inline;
 padding:  30px;
 margin: 30px;
 color: #653239;
}

.card ul li i {
 color: #AF7A6D;
}

.img-card {
padding: 0 65px;
size: 40%;
}

ul {
  list-style: none;
  display: inline;
  padding: 10px;
  font-size: 30px;
}

hr {
  width: 80%;
  color: #AF7A6D;
}

footer {
  list-style: none;
}

.footer-div {
  padding: 30px;
}

/* Media Queries */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

